#grid {
  height: 110px;
  border-top: 1px solid #eee;
}
#grid #gridLogo {
  width: 370px;
  height: 82px;
  padding-left: 44px;
  margin-top: 28px;
  float: left;
}
#grid #gridLogo img {
  float: left;
}
#grid #gridLogo span {
  width: 2px;
  height: 40px;
  background: #a3d39d;
  margin: 12px;
  float: left;
}
#grid #gridLogo .zimeiti {
  font-size: 18px;
  color: #7fc176;
  margin-top: 20px;
  float: left;
}
#grid #sousuo {
  width: 544px;
  height: 78px;
  margin-left: 44px;
  margin-top: 32px;
  float: left;
}
#grid #sousuo .sousuo_1 {
  width: 406px;
  height: 30px;
  border: 3px solid #45b035;
  border-top: 2px solid #45b035;
  float: left;
}
#grid #sousuo button {
  width: 88px;
  height: 35px;
  border: none;
  background: #45b035;
  float: left;
  color: #fff;
  font-size: 12px;
  font-weight: 800px;
  text-align: center;
  line-height: 35px;
}
#grid #sousuo ul {
  width: 494px;
  height: 17px;
  margin-top: 5px;
  float: left;
}
#grid #sousuo ul li:first-child {
  font-size: 12px;
  color: #333;
  float: left;
}
#grid #sousuo ul li a {
  font-size: 12px;
  color: #666;
  margin-right: 13px;
  float: left;
}
#grid .rightMyShanshan {
  width: 254px;
  height: 78px;
  margin-top: 35px;
  float: left;
}
#grid .rightMyShanshan #myShanshan {
  width: 38%;
  height: 29px;
  background: #fafafa url(../images/particularsimages/icon-meber.jpg) no-repeat 10px 5px;
  border: 2px solid #eee;
  float: left;
}
#grid .rightMyShanshan #myShanshan a {
  font-size: 12px;
  color: #666;
  font-weight: 800;
  line-height: 29px;
  margin-left: 32px;
}
#grid .rightMyShanshan #myCart {
  width: 43%;
  height: 29px;
  background: #fafafa url(../images/particularsimages/icon-buy2.png) no-repeat 10px;
  border: 2px solid #eee;
  margin-left: 12px;
  float: left;
}
#grid .rightMyShanshan #myCart a {
  font-size: 12px;
  color: #666;
  font-weight: 800;
  line-height: 29px;
  margin-left: 42px;
  float: left;
}
#grid .rightMyShanshan #myCart div {
  color: #fff;
  font-weight: 700;
  width: 12px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #45b035;
  margin: 5px;
  float: left;
}

/*nav*/
#navShouye {
  height: 30px;
  background: #45b035;
}
#navShouye #menu {
  width: 1190px;
  height: 30px;
  background: #49a03d;
  margin: 0 auto;
  position: relative;
}
#navShouye #menu #all-sort {
  width: 222px;
  position: absolute;
  left: 0;
  top: 1px;
}
#navShouye #menu #all-sort .goods-sort {
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: block;
  height: 30px;
  line-height: 30px;
}
#navShouye #menu ul {
  width: 432px;
  position: absolute;
  top: 0;
  left: 222px;
}
#navShouye #menu ul li {
  float: left;
}
#navShouye #menu ul li a {
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  padding: 0 7px;
}
#navShouye #menu ul li:hover {
  background: #134A0E;
}

/*banner*/
#banner {
  height: 400px;
  position: relative;
}
#banner #bannerlunbo {
  width: 1190px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  z-index: 1001;
  top: 1px;
  left: 36px;
}
#banner #bannerlunbo #sort-list {
  width: 222px;
  float: left;
}
#banner #bannerlunbo #sort-list ul {
  background: #fff;
}
#banner #bannerlunbo #sort-list ul #Anav-title {
  width: 222px;
  height: 55px;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
  overflow: hidden;
}
#banner #bannerlunbo #sort-list ul #Anav-title em {
  display: block;
  width: 26px;
  height: 55px;
  position: relative;
  background: url(../images/indeximages/ailsa-ico.png) no-repeat;
  float: left;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em1 {
  background-position: 0 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em1:hover {
  background-position: 0 -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em2 {
  background-position: -28px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em2:hover {
  background-position: -28px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em3 {
  background-position: -56px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em3:hover {
  background-position: -56px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em4 {
  background-position: -84px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em4:hover {
  background-position: -84px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em5 {
  background-position: -140px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em5:hover {
  background-position: -140px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em6 {
  background-position: -168px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em6:hover {
  background-position: -168px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em7 {
  background-position: -196px 0;
}
#banner #bannerlunbo #sort-list ul #Anav-title .A-em7:hover {
  background-position: -196px -52px;
}
#banner #bannerlunbo #sort-list ul #Anav-title a {
  font-size: 16px;
  color: #666;
  line-height: 55px;
}
#banner #bannerlunbo #sort-list ul #shengxian-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort, #banner #bannerlunbo #sort-list ul #chaye-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort {
  display: none;
  width: 400px;
  height: 450px;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 222px;
}
#banner #bannerlunbo #sort-list ul #shengxian-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #shengxian-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #shengxian-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #shengxian-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #shengxian-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #shengxian-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #shengxian-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #liangyou-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #liangyou-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #chaye-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #chaye-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #chaye-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #chaye-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #chaye-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #chaye-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #chaye-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #xiuxian-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #xiuxian-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #xiuxian-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #jiushui-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #jiushui-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #jiushui-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #baihuo-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #baihuo-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #baihuo-sort #youxuan-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort #shengxian-text, #banner #bannerlunbo #sort-list ul #youxuan-sort #liangyou-text, #banner #bannerlunbo #sort-list ul #youxuan-sort #chaye-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort #xiuxian-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort #jiushui-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort #baihuo-sort, #banner #bannerlunbo #sort-list ul #youxuan-sort #youxuan-sort {
  height: 28px;
  margin: 0 10px;
}
#banner #bannerlunbo #sort-list ul #shengxian-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #shengxian-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #shengxian-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #shengxian-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #shengxian-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #shengxian-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #shengxian-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #liangyou-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #liangyou-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #liangyou-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #liangyou-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #liangyou-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #liangyou-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #chaye-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #chaye-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #chaye-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #chaye-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #chaye-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #chaye-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #chaye-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #xiuxian-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #jiushui-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #jiushui-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #jiushui-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #jiushui-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #jiushui-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #jiushui-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #jiushui-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #baihuo-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #baihuo-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #baihuo-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #baihuo-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #baihuo-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #baihuo-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #baihuo-sort #youxuan-sort a, #banner #bannerlunbo #sort-list ul #youxuan-sort #shengxian-text a, #banner #bannerlunbo #sort-list ul #youxuan-sort #liangyou-text a, #banner #bannerlunbo #sort-list ul #youxuan-sort #chaye-sort a, #banner #bannerlunbo #sort-list ul #youxuan-sort #xiuxian-sort a, #banner #bannerlunbo #sort-list ul #youxuan-sort #jiushui-sort a, #banner #bannerlunbo #sort-list ul #youxuan-sort #baihuo-sort a, #banner #bannerlunbo #sort-list ul #youxuan-sort #youxuan-sort a {
  font-size: 18px;
  color: #666;
  padding: 0 10px;
  border-right: 1px solid #333;
  white-space: nowrap;
  line-height: 28px;
}
#banner #bannerlunbo #sort-list ul #shengxian-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #shengxian-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #shengxian-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #shengxian-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #shengxian-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #shengxian-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #shengxian-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #liangyou-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #liangyou-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #liangyou-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #liangyou-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #liangyou-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #liangyou-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #chaye-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #chaye-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #chaye-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #chaye-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #chaye-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #chaye-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #chaye-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #xiuxian-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #jiushui-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #jiushui-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #jiushui-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #jiushui-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #jiushui-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #jiushui-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #jiushui-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #baihuo-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #baihuo-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #baihuo-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #baihuo-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #baihuo-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #baihuo-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #baihuo-sort #youxuan-sort img, #banner #bannerlunbo #sort-list ul #youxuan-sort #shengxian-text img, #banner #bannerlunbo #sort-list ul #youxuan-sort #liangyou-text img, #banner #bannerlunbo #sort-list ul #youxuan-sort #chaye-sort img, #banner #bannerlunbo #sort-list ul #youxuan-sort #xiuxian-sort img, #banner #bannerlunbo #sort-list ul #youxuan-sort #jiushui-sort img, #banner #bannerlunbo #sort-list ul #youxuan-sort #baihuo-sort img, #banner #bannerlunbo #sort-list ul #youxuan-sort #youxuan-sort img {
  width: 360px;
  height: 350px;
  margin: 20px 10px 10px 10px;
}
#banner #bannerlunbo #sort-list ul #liangyou-sort {
  display: none;
  width: 400px;
  height: 450px;
  background: #fff;
  position: absolute;
  top: 1px;
  left: 222px;
}
#banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text {
  height: 28px;
  margin: 0 10px;
}
#banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text a {
  font-size: 18px;
  color: #666;
  padding: 0 10px;
  border-right: 1px solid #333;
  white-space: nowrap;
  line-height: 28px;
}
#banner #bannerlunbo #sort-list ul #liangyou-sort #liangyou-text img {
  width: 360px;
  height: 350px;
  margin: 20px 10px 10px 10px;
}
#banner #bannerlunbo #sort-list ul #youxuan-sort img {
  width: 100px;
  height: 80px;
  margin: 20px 10px 10px 10px;
  float: left;
}
#banner #slide1 {
  width: 100%;
  height: 392px;
  float: left;
}
#banner #slide1 #sanjiao {
  width: 968px;
  height: 392px;
  position: relative;
  z-index: 1001;
  /*display: none;*/
}
#banner #slide1 #sanjiao #ltBtn, #banner #slide1 #sanjiao #rtBtn {
  width: 384px;
  font-size: 40px;
  color: #d00;
  font-weight: 800;
  line-height: 384px;
  cursor: pointer;
}
#banner #slide1 #sanjiao #ltBtn {
  text-align: left;
  position: absolute;
  left: 253px;
  top: 0;
}
#banner #slide1 #sanjiao #rtBtn {
  text-align: right;
  position: absolute;
  left: 860px;
  top: 0;
}
#banner #slide1 #sanjiao #rtBtn:hover {
  display: block;
  opacity: 0.5;
  color: #d00;
}
#banner #slide1 #sanjiao #ltBtn:hover {
  display: block;
  opacity: 0.5;
  color: #d00;
}
#banner #slide1 #lunbotu-pic {
  width: 100%;
  height: 392px;
  overflow: visible !important;
  position: relative;
}
#banner #slide1 #lunbotu-pic img {
  width: 100%;
  height: 392px;
  z-index: 1000;
  position: absolute;
  top: -390px;
  left: 0;
}
#banner #slide1 #little-dot {
  width: 140px;
  height: 25px;
  z-index: 1001;
  position: absolute;
  top: 350px;
  left: 1065px;
}
#banner #slide1 #little-dot li {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 5px;
  float: left;
  background: #666;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}
#banner #slide1 #little-dot li:hover {
  cursor: pointer;
  background: lawngreen;
}

/*xiangqing*/
#main-cuxiao {
  width: 1190px;
  height: 323px;
  margin: 0 auto;
  margin-top: 5px;
}
#main-cuxiao .yhtm {
  width: 862px;
  height: 38px;
  border: 1px solid #eee;
  border-bottom: none;
}
#main-cuxiao .yhtm li:first-child, #main-cuxiao .yhtm li:nth-child(2) {
  width: 96px;
  height: 38px;
  border-right: 1px solid #eee;
}
#main-cuxiao .yhtm li {
  border-bottom: 1px solid #eee;
  float: left;
}
#main-cuxiao .yhtm li a {
  font-size: 14px;
  color: #666;
  padding-left: 20px;
  line-height: 38px;
}
#main-cuxiao .yhtm li a:hover {
  color: #0C9509;
}
#main-cuxiao .yhtm li span {
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 38px;
  float: left;
  margin-right: 5px;
}
#main-cuxiao .yhtm li span:first-child {
  padding-left: 300px;
}
#main-cuxiao .yhtm li .shi, #main-cuxiao .yhtm li .fen, #main-cuxiao .yhtm li .miao {
  font-size: 16px;
  display: block;
  width: 30px;
  background: #f7f7f7;
  font-weight: 800;
}
#main-cuxiao .yhtm li:first-child:hover a, #main-cuxiao .yhtm li:nth-child(2):hover a {
  border-bottom: none;
  font-size: 16px;
  font-weight: 700;
}
#main-cuxiao .tab-goodsSail {
  width: 862px;
  height: 284px;
  border: 1px solid #eee;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one {
  margin-top: 3px;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li {
  float: left;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li a img {
  width: 208px;
  height: 208px;
  margin-right: 10px;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li .meiyou {
  margin-right: 0;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li .zhushi {
  width: 208px;
  white-space: wrap;
  font-size: 12px;
  color: #666;
  padding-top: 12px;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li .cuxiaojiege {
  font-size: 14px;
  color: #666;
  padding-top: 8px;
}
#main-cuxiao .tab-goodsSail .tab-goodsSail-one li .cuxiaojiege span {
  font-size: 14px;
  color: #ff6101;
  padding-top: 8px;
}
#main-cuxiao #main-right {
  width: 235px;
  height: 328px;
  float: right;
  position: relative;
  top: -325px;
  right: 0;
}
#main-cuxiao #main-right #main-right-top {
  width: 235px;
  height: 128px;
  border: 1px solid #eee;
}
#main-cuxiao #main-right #main-right-top .paper {
  font-size: 18px;
  color: #666;
  font-weight: 700;
  margin: 10px;
  float: left;
}
#main-cuxiao #main-right #main-right-top .kuaibao {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
  float: right;
  margin-right: 10px;
}
#main-cuxiao #main-right #main-right-top .fangjia {
  margin-top: 45px;
  margin-left: 10px;
}
#main-cuxiao #main-right #main-right-top .fangjia li {
  float: left;
}
#main-cuxiao #main-right #main-right-top .fangjia li .tongzhi {
  font-size: 14px;
  color: #666;
}
#main-cuxiao #main-right #main-right-top .fangjia li .tongzhi:hover {
  text-decoration: underline;
}
#main-cuxiao #main-right .main-right-bottom {
  width: 235px;
  height: 185px;
  margin-top: 13px;
}
#main-cuxiao #main-right .main-right-bottom img {
  width: 235px;
  height: 185px;
}

/*yangmei*/
#yangmei {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}
#yangmei a img {
  width: 1190px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

/*firstfloor*/
#louceng {
  width: 1190px;
  height: 2890px;
  margin: 0 auto;
  /*first*/
  /*second*/
  /*lishui*/
  /*third*/
  /*fourth*/
  /*fifth*/
}
#louceng #first-floor {
  width: 1190px;
  height: 538px;
}
#louceng #first-floor .first-food {
  width: 906px;
  height: 38px;
  margin-top: 24px;
  background: url(../images/indeximages/small_SHANSHAN_IMG_shanshan_1_201604111047493882.jpg) no-repeat -2px;
}
#louceng #first-floor .first-food li {
  float: left;
}
#louceng #first-floor .first-food li .bac-pic {
  font-size: 22px;
  color: #666;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 550px;
}
#louceng #first-floor .first-food li .fruit {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  margin: 0 10px;
  border-right: 1px solid #666;
}
#louceng #first-floor .first-food li .fruit-last {
  font-size: 12px;
  border-right: none;
  color: #d00;
}
#louceng #first-floor #liebiao {
  width: 906px;
  height: 474px;
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #first-floor #liebiao img {
  width: 235px;
  height: 474px;
  float: left;
}
#louceng #first-floor #liebiao .tab-goodsSail-two {
  width: 656px;
  float: left;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li {
  border-top: 1px solid #ccc;
  position: relative;
  float: left;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li a img {
  width: 150px;
  height: 150px;
  margin-top: 14px;
  margin-left: 14px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li .zhushi {
  width: 150px;
  white-space: wrap;
  font-size: 12px;
  color: #666;
  padding-top: 160px;
  margin-left: 14px;
  cursor: pointer;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li .zhushi:hover {
  color: #24C336;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li .cuxiaojiege {
  font-size: 14px;
  color: #ff6101;
  padding-top: 8px;
  margin-left: 14px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou1 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou1 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou2 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou2 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou3 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou3 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou4 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou4 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou5 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou5 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou6 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou6 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou7 {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #first-floor #liebiao .tab-goodsSail-two li #jia-gou7 a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #first-floor #fist-floor-right {
  width: 235px;
  height: 538px;
  float: right;
  position: relative;
  top: -513px;
  right: 30px;
}
#louceng #first-floor #fist-floor-right .jingxuan {
  font-size: 22px;
  color: #666;
  font-weight: 900;
  line-height: 36px;
  padding-left: 15px;
}
#louceng #first-floor #fist-floor-right .sxjx {
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #first-floor #fist-floor-right .sxjx li {
  height: 50px;
  margin-top: 29px;
}
#louceng #first-floor #fist-floor-right .sxjx img {
  width: 43px;
  height: 43px;
  margin-left: 5px;
  float: left;
}
#louceng #first-floor #fist-floor-right .sxjx a {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  float: left;
  display: block;
  width: 148px;
  white-space: wrap;
}
#louceng #first-floor #fist-floor-right .sxjx a:hover {
  color: #24C336;
}
#louceng #first-floor #fist-floor-right .sxjx .jiage {
  font-size: 12px;
  color: #ff551f;
  padding-left: 10px;
}
#louceng #second-floor {
  width: 1190px;
  height: 538px;
}
#louceng #second-floor .second-food {
  width: 906px;
  height: 38px;
  margin-top: 24px;
  background: url(../images/indeximages/small_SHANSHAN_IMG_floor_2_1_201404030214155636.jpg) no-repeat -2px;
}
#louceng #second-floor .second-food li {
  float: left;
}
#louceng #second-floor .second-food li .bac-pic {
  font-size: 22px;
  color: #666;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 550px;
}
#louceng #second-floor .second-food li .huowu {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  margin: 0 10px;
  border-right: 1px solid #666;
}
#louceng #second-floor .second-food li .huowu-last {
  font-size: 12px;
  border-right: none;
  color: #d00;
}
#louceng #second-floor #liebiao {
  width: 906px;
  height: 474px;
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #second-floor #liebiao img {
  width: 235px;
  height: 474px;
  float: left;
}
#louceng #second-floor #liebiao .tab-goodsSail-two {
  width: 660px;
  float: left;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-bottom: 20px;
  float: left;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li a img {
  width: 150px;
  height: 150px;
  margin: 0 7px;
  margin-top: 14px;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li .zhushi {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  padding-top: 10px;
  margin-left: 14px;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li .zhushi:hover {
  color: #24C336;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li .cuxiaojiege {
  font-size: 14px;
  color: #ff6101;
  padding-top: 8px;
  margin-left: 14px;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li #jia-gou {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li #jia-gou a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #second-floor #liebiao .tab-goodsSail-two li:last-child, #louceng #second-floor #liebiao .tab-goodsSail-two li:nth-child(4) {
  border-right: none;
}
#louceng #second-floor #fist-floor-right {
  width: 235px;
  height: 538px;
  float: right;
  position: relative;
  top: -513px;
  right: 30px;
}
#louceng #second-floor #fist-floor-right .jingxuan {
  font-size: 22px;
  color: #666;
  font-weight: 900;
  line-height: 36px;
  padding-left: 15px;
}
#louceng #second-floor #fist-floor-right .sxjx {
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #second-floor #fist-floor-right .sxjx li {
  height: 50px;
  margin-top: 29px;
}
#louceng #second-floor #fist-floor-right .sxjx img {
  width: 43px;
  height: 43px;
  margin-left: 5px;
  float: left;
}
#louceng #second-floor #fist-floor-right .sxjx a {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  float: left;
  display: block;
  width: 148px;
  white-space: wrap;
}
#louceng #second-floor #fist-floor-right .sxjx a:hover {
  color: #24C336;
}
#louceng #second-floor #fist-floor-right .sxjx .jiage {
  font-size: 12px;
  color: #ff551f;
  padding-left: 10px;
}
#louceng #lishui {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
}
#louceng #lishui a img {
  width: 1190px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
#louceng #third-floor {
  width: 1190px;
  height: 538px;
}
#louceng #third-floor .third-food {
  width: 906px;
  height: 38px;
  margin-top: 24px;
  background: url(../images/indeximages/small_SHANSHAN_IMG_shanshan_1_201604111058182131.jpg) no-repeat -2px;
}
#louceng #third-floor .third-food li {
  float: left;
}
#louceng #third-floor .third-food li .bac-pic {
  font-size: 22px;
  color: #666;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 550px;
}
#louceng #third-floor .third-food li .huowu {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  margin: 0 10px;
  border-right: 1px solid #666;
}
#louceng #third-floor .third-food li .huowu-last {
  font-size: 12px;
  border-right: none;
  color: #d00;
}
#louceng #third-floor #liebiao {
  width: 906px;
  height: 474px;
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #third-floor #liebiao img {
  width: 235px;
  height: 474px;
  float: left;
}
#louceng #third-floor #liebiao .tab-goodsSail-two {
  width: 660px;
  float: left;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-bottom: 20px;
  float: left;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li a img {
  width: 150px;
  height: 150px;
  margin: 0 7px;
  margin-top: 14px;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li .zhushi {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  padding-top: 10px;
  margin-left: 14px;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li .zhushi:hover {
  color: #24C336;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li .cuxiaojiege {
  font-size: 14px;
  color: #ff6101;
  padding-top: 8px;
  margin-left: 14px;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li #jia-gou {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li #jia-gou a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #third-floor #liebiao .tab-goodsSail-two li:last-child, #louceng #third-floor #liebiao .tab-goodsSail-two li:nth-child(4) {
  border-right: none;
}
#louceng #third-floor #fist-floor-right {
  width: 235px;
  height: 538px;
  float: right;
  position: relative;
  top: -513px;
  right: 30px;
}
#louceng #third-floor #fist-floor-right .jingxuan {
  font-size: 22px;
  color: #666;
  font-weight: 900;
  line-height: 36px;
  padding-left: 15px;
}
#louceng #third-floor #fist-floor-right .sxjx {
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #third-floor #fist-floor-right .sxjx li {
  height: 50px;
  margin-top: 29px;
}
#louceng #third-floor #fist-floor-right .sxjx img {
  width: 43px;
  height: 43px;
  margin-left: 5px;
  float: left;
}
#louceng #third-floor #fist-floor-right .sxjx a {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  float: left;
  display: block;
  width: 148px;
  white-space: wrap;
}
#louceng #third-floor #fist-floor-right .sxjx a:hover {
  color: #24C336;
}
#louceng #third-floor #fist-floor-right .sxjx .jiage {
  font-size: 12px;
  color: #ff551f;
  padding-left: 10px;
}
#louceng #fourth-floor {
  width: 1190px;
  height: 538px;
}
#louceng #fourth-floor .fourth-food {
  width: 906px;
  height: 38px;
  margin-top: 24px;
  background: url(../images/indeximages/small_SHANSHAN_IMG_shanshan_1_201604111058326208.jpg) no-repeat -2px;
}
#louceng #fourth-floor .fourth-food li {
  float: left;
}
#louceng #fourth-floor .fourth-food li .bac-pic {
  font-size: 22px;
  color: #666;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 550px;
}
#louceng #fourth-floor .fourth-food li .huowu {
  margin-top: 10px;
  font-size: 12px;
  color: #666;
  margin: 0 10px;
  border-right: 1px solid #666;
}
#louceng #fourth-floor .fourth-food li .huowu-last {
  font-size: 12px;
  border-right: none;
  color: #d00;
}
#louceng #fourth-floor #liebiao {
  width: 906px;
  height: 474px;
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #fourth-floor #liebiao img {
  width: 235px;
  height: 474px;
  float: left;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two {
  width: 660px;
  float: left;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-bottom: 20px;
  float: left;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li a img {
  width: 150px;
  height: 150px;
  margin: 0 7px;
  margin-top: 14px;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li .zhushi {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 12px;
  color: #666;
  padding-top: 10px;
  margin-left: 14px;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li .zhushi:hover {
  color: #24C336;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li .cuxiaojiege {
  font-size: 14px;
  color: #ff6101;
  padding-top: 8px;
  margin-left: 14px;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li #jia-gou {
  width: 150px;
  height: 30px;
  background: #1C6915;
  position: absolute;
  top: 134px;
  left: 14px;
  display: none;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li #jia-gou a {
  font-size: 16px;
  color: #fff;
  padding-left: 30px;
  line-height: 30px;
}
#louceng #fourth-floor #liebiao .tab-goodsSail-two li:last-child, #louceng #fourth-floor #liebiao .tab-goodsSail-two li:nth-child(4) {
  border-right: none;
}
#louceng #fourth-floor #fist-floor-right {
  width: 235px;
  height: 538px;
  float: right;
  position: relative;
  top: -513px;
  right: 30px;
}
#louceng #fourth-floor #fist-floor-right .jingxuan {
  font-size: 22px;
  color: #666;
  font-weight: 900;
  line-height: 36px;
  padding-left: 15px;
}
#louceng #fourth-floor #fist-floor-right .sxjx {
  border: 1px solid #ccc;
  border-top: 2px solid #666;
}
#louceng #fourth-floor #fist-floor-right .sxjx li {
  height: 50px;
  margin-top: 29px;
}
#louceng #fourth-floor #fist-floor-right .sxjx img {
  width: 43px;
  height: 43px;
  margin-left: 5px;
  float: left;
}
#louceng #fourth-floor #fist-floor-right .sxjx a {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  float: left;
  display: block;
  width: 148px;
  white-space: wrap;
}
#louceng #fourth-floor #fist-floor-right .sxjx a:hover {
  color: #24C336;
}
#louceng #fourth-floor #fist-floor-right .sxjx .jiage {
  font-size: 12px;
  color: #ff551f;
  padding-left: 10px;
}
#louceng #fifth-floor {
  width: 1190px;
  height: 448px;
  margin: 0 auto;
}
#louceng #fifth-floor #fifth-life {
  width: 906px;
  height: 38px;
  margin-top: 24px;
  background: url(../images/indeximages/7.jpg) no-repeat -2px;
}
#louceng #fifth-floor #fifth-life .bac-pic {
  font-size: 22px;
  color: #666;
  font-weight: 800;
  margin-left: 50px;
  margin-right: 550px;
}
#louceng #fifth-floor .mssh {
  width: 1190px;
  height: 380px;
  border: 1px solid #ccc;
  border-right: none;
}
#louceng #fifth-floor .mssh li {
  width: 296px;
  border-right: 1px solid #ccc;
  float: left;
}
#louceng #fifth-floor .mssh li .life-pic img {
  width: 267px;
  height: 230px;
  margin: 15px;
}
#louceng #fifth-floor .mssh li #fangkuai {
  width: 267px;
  height: 105px;
  background: #f6ffe8;
  margin: 15px;
  margin-top: 0;
}
#louceng #fifth-floor .mssh li #fangkuai .baobao {
  font-size: 16px;
  color: #666;
  padding-left: 15px;
  padding-top: 20px;
}
#louceng #fifth-floor .mssh li #fangkuai .baobao:hover {
  color: #0C9509;
}
#louceng #fifth-floor .mssh li #fangkuai .eat {
  font-size: 16px;
  color: #666;
  padding-left: 15px;
  padding-top: 5px;
}
#louceng #fifth-floor .mssh li #fangkuai .eat:hover {
  color: #0C9509;
}
#louceng #fifth-floor .mssh li:last-child {
  position: relative;
  top: -342px;
  right: 0;
}

/*# sourceMappingURL=index.css.map */
