#logoSign {
  width: 1190px;
  height: 70px;
  margin: 0 auto;
}
#logoSign h1 .logo {
  float: left;
}
#logoSign #soutext {
  width: 514px;
  height: 28px;
  border: 1px solid #666;
  margin-left: 420px;
  margin-top: 20px;
  float: left;
}
#logoSign .shishi {
  width: 86px;
  height: 30px;
  background: #1c6915;
  margin-top: 20px;
  border: none;
  float: left;
  font-size: 18px;
  letter-spacing: 5px;
  color: #fff;
}

/*nav*/
#listNav {
  height: 30px;
  background: #2c8022;
}
#listNav .list-ul-1 {
  margin-left: 70px;
}
#listNav .list-ul-1 li {
  height: 30px;
  float: left;
}
#listNav .list-ul-1 li .all {
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  font-weight: 800;
  padding-left: 5px;
}
#listNav .list-ul-1 li i {
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  padding-left: 10px;
}
#listNav .list-ul-1 li .ul-sou {
  width: 160px;
  height: 20px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #f3f3f3;
  float: left;
  margin-top: 5px;
}
#listNav .list-ul-1 li .ul-suo {
  width: 20px;
  height: 20px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  float: left;
  margin-top: 5px;
  background: #f3f3f3;
}
#listNav .list-ul-1 .change-1 {
  padding-right: 25px;
  background: url(../images/listimages/20130325_tamll_03.jpg) no-repeat 35px 7px;
  position: relative;
}
#listNav .list-ul-1 .change-1 i {
  padding-left: 20px;
}
#listNav .list-ul-1 .change-1 .zhuan {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  position: absolute;
  left: 30px;
  top: 7px;
  border: none;
  background: url(../images/listimages/1.jpg);
  display: none;
}
#listNav .list-ul-1 .change-1 .tab-down {
  width: 360px;
  height: 100px;
  border: 1px solid #666;
  background: #fff;
  position: absolute;
  top: 29px;
  left: 0px;
  display: none;
}
#listNav .list-ul-1 .change-1 .tab-down .pull-down li {
  width: 117px;
  height: 40px;
  border-right: 1px dashed #ccc;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
  text-align: center;
  line-height: 40px;
  float: left;
}
#listNav .list-ul-1 .change-1 .tab-down .pull-down li:hover {
  color: #24C336;
}

/*nav-all*/
#nav-all {
  width: 1190px;
  height: 155px;
  margin: 10px auto;
}
#nav-all .pinpai {
  width: 1190px;
  height: 40px;
  border: 2px solid #b9d2b4;
}
#nav-all .pinpai li {
  float: left;
}
#nav-all .pinpai li .same {
  font-size: 14px;
  color: #000;
  line-height: 35px;
  padding-left: 10px;
  display: block;
  width: 120px;
  height: 40px;
  background: #ebf8eb;
}
#nav-all .pinpai li .same-1 {
  font-size: 14px;
  color: #666;
  line-height: 40px;
  padding: 0 12px;
}
#nav-all .pinpai li .duoxuan {
  font-size: 14px;
  color: #666;
  line-height: 18px;
  text-align: center;
  padding: 0 12px;
  display: block;
  width: 47px;
  height: 18px;
  margin-left: 815px;
  margin-top: 10px;
  border: 1px solid #ccc;
  background: #ebf8eb;
}
#nav-all .pinpai li .same-2 {
  font-size: 14px;
  color: #666;
  line-height: 40px;
  padding: 0 12px;
}
#nav-all .pinpai3 {
  height: 69px;
  width: 1190px;
  border: 2px solid #b9d2b4;
}
#nav-all .pinpai3 li {
  float: left;
}
#nav-all .pinpai3 li .same {
  font-size: 14px;
  color: #000;
  line-height: 35px;
  padding-left: 10px;
  display: block;
  width: 120px;
  height: 69px;
  background: #ebf8eb;
}
#nav-all .pinpai3 li .same-1 {
  font-size: 14px;
  color: #666;
  line-height: 40px;
  padding: 0 20px;
}
#nav-all .pinpai3 li .duoxuan {
  font-size: 14px;
  color: #666;
  line-height: 18px;
  text-align: center;
  padding: 0 12px;
  display: block;
  width: 47px;
  height: 18px;
  margin-left: 815px;
  margin-top: 10px;
  border: 1px solid #ccc;
  background: #ebf8eb;
}
#nav-all .pinpai3 li .same-2 {
  font-size: 14px;
  color: #666;
  line-height: 40px;
  padding: 0 12px;
}

/*nav-last*/
#chazhaobaobei {
  width: 1190px;
  height: 35px;
  background: #ebf8eb;
  margin: 10px auto;
  position: relative;
}
#chazhaobaobei .address {
  width: 82px;
  height: 24px;
  margin-right: 10px;
  margin-left: 8px;
  margin-top: 5px;
  resize: none;
  border: 2px solid #ccc;
  float: left;
}
#chazhaobaobei .address-select {
  width: 310px;
  min-height: 200px;
  _height: 200px;
  border: 1px solid #ccc;
  position: absolute;
  top: 32px;
  left: 5px;
  background: #fff;
  display: none;
}
#chazhaobaobei .address-select div {
  border-bottom: 1px dashed #eee;
}
#chazhaobaobei .address:hover .address-select {
  display: block;
}
#chazhaobaobei .shunxu-all {
  width: 124px;
  resize: none;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 220px;
  margin-left: -115px;
  float: left;
}
#chazhaobaobei .shunxu-all .shunxu {
  width: 120px;
  height: 28px;
  background: #fff;
  border: 2px solid #ccc;
  resize: none;
  float: left;
}
#chazhaobaobei .shunxu-all .shunxu option {
  width: 96px;
  height: 25px;
  font-size: 12px;
  color: #666;
  background: url("../images/listimages/20130325_columns.png") no-repeat;
  background-position: -72px -61px;
  margin-left: 10px;
  line-height: 25px;
  border-bottom: 1px dashed #ccc;
}
#chazhaobaobei #xiaoliang {
  width: 45px;
  height: 24px;
  margin-left: 121px;
  float: left;
  margin-top: 5px;
  background: #fff url(../images/listimages/123.jpg) no-repeat 35px 8px;
}
#chazhaobaobei #price-1 {
  width: 45px;
  height: 24px;
  float: left;
  margin-top: 5px;
  background: #fff url(../images/listimages/1234.jpg) no-repeat 35px 8px;
}
#chazhaobaobei #from {
  width: 62px;
  height: 24px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
#chazhaobaobei .sub {
  width: 5px;
  height: 1px;
  margin-top: 15px;
  margin-left: 400px;
}
#chazhaobaobei #anniu {
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  position: relative;
  top: 10px;
  left: -170px;
  z-index: 100;
}
#chazhaobaobei #baoyou {
  width: 172px;
  height: 24px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

/*particular*/
#particular-list {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
#particular-list #particular-listAll {
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
#particular-list #particular-listAll img {
  width: 215px;
  height: 222px;
  border: 1px solid #666;
}
#particular-list #particular-listAll #shiyi {
  width: 215px;
  height: 106px;
}
#particular-list #particular-listAll #shiyi .sail-price {
  font-size: 10px;
  color: #dd1f1f;
  float: left;
}
#particular-list #particular-listAll #shiyi .unit-price {
  display: block;
  width: 87px;
  height: 20px;
  border: 1px solid #e8f5e4;
  background: #f0f8ed;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color: #838383;
  float: right;
}
#particular-list #particular-listAll #shiyi .state {
  float: left;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
#particular-list #particular-listAll #shiyi .sales-volume {
  float: left;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#particular-list #particular-listAll #shiyi .sales-volume .volume-num {
  font-size: 12px;
  color: #e2adab;
}
#particular-list #particular-listAll #shiyi .sales-volume .upright {
  display: block;
  width: 1px;
  height: 10px;
  background: #333;
  position: relative;
  top: 4px;
  left: 1px;
  margin: 0 10px;
}
#particular-list #particular-listAll #shiyi .sales-volume .evaluate {
  font-size: 12px;
  color: #56839f;
}
#particular-list #particular-listAll #shiyi .cate {
  margin-top: 5px;
  font-size: 14px;
  color: #797966;
  float: left;
}
#particular-list #particular-listAll #shiyi .bac-msg {
  display: block;
  width: 65px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #ff9b39;
  background: url("../images/listimages/sstalking-ico.gif") no-repeat;
  background-position: -1px  -3px;
  margin: 5px;
  float: left;
}
#particular-list #particular-listAll:hover {
  box-shadow: 0px 0px 5px 4px #B9D2B4;
}

/*sousuo*/
#hunt {
  width: 1190px;
  height: 92px;
  margin: 180px auto;
  background: #efefef;
}
#hunt #hunt-1 {
  width: 512px;
  height: 29px;
  border: none;
  border: 1px solid #587154;
  margin-left: 296px;
  margin-top: 32px;
  float: left;
}
#hunt .hunt-2 {
  width: 88px;
  height: 31px;
  border: none;
  border: 1px solid #587154;
  background: #134a0e;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 32px;
  line-height: 31px;
  float: left;
}

#rightButton {
  position: fixed;
  right: 0;
  bottom: 80px;
  height: 268px;
  z-index: 9999;
  display: block;
  cursor: pointer;
}
#rightButton .xuanfu {
  width: 66px;
  height: 268px;
  position: relative;
}
#rightButton .xuanfu .backTop {
  z-index: 99999;
  margin-top: -335px;
}
#rightButton .xuanfu .backTop .backtop2 {
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .xuanfu .backTop .backTop_1 {
  background: url("../images/loginimages/gtop.png") no-repeat;
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .xuanfu .backTop:hover .backtop2 {
  display: block;
}
#rightButton .kefu {
  background: url("../images/loginimages/kf.png") no-repeat;
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .kefu .kf2 {
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .kefu:hover .kf2 {
  display: block;
}
#rightButton .rightCart {
  background: url("../images/loginimages/gw.png") no-repeat;
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .rightCart .gw2 {
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .rightCart .num {
  width: 20px;
  height: 20px;
  background: #d00;
  position: absolute;
  left: 0;
  top: 65px;
  font-size: 16px;
  text-align: center;
  margin-left: -10px;
  margin-top: 10px;
  color: #fff;
  line-height: 20px;
}
#rightButton .rightCart:hover .gw2 {
  display: block;
}
#rightButton .erweima {
  background: url("../images/loginimages/wx.png") no-repeat;
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .erweima .wx2 {
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .erweima #ma {
  width: 150px;
  height: 195px;
  position: relative;
  top: -170px;
  left: -170px;
  background: #fff;
  border: 1px solid #666;
  display: none;
}
#rightButton .erweima #ma #ma-1 {
  width: 150px;
  height: 150px;
}
#rightButton .erweima #ma .weixin {
  width: 120px;
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #666;
  text-align: center;
  border-bottom: 1px solid #666;
}
#rightButton .shoucang {
  background: url("../images/loginimages/sc.png") no-repeat;
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .shoucang .sc2 {
  width: 66px;
  height: 66px;
  margin-top: 1px;
}
#rightButton .shoucang:hover .sc2 {
  display: block;
}

/*# sourceMappingURL=list.css.map */
